<div style="page-break-after: always;"></div>

# <center>DATA1030 Project Proposal -- Hand Gesture Recognition</center>
<center>Cangcheng(Joseph) Tang</center>
<center>Banner ID: B01628536</center>

[GitHub Link](https://github.com/tangcc35/DATA1030-Project-Cangcheng);   
[Data Link](https://archive.ics.uci.edu/ml/datasets/Motion+Capture+Hand+Postures)

---

## 1.Obejective

* The target variable is different "Class" for gestures and "User". This project's main purpose is to train a model to recognize hand gestures based on the coordinates of 12 joints of the hand. There is also an exploratory objective: identifying users.  


* As the target variable is categorical, not continuous, classification methods and models will be used to solve the problems above.  


* Hand gesture recognition is a very powerful tool in interaction with an electronic device. Such technology allows hands-free control over smartphones, computers, or even smart household appliances. So remote controls will no longer be needed.  Also, accessibility features with hand gesture recognition can do more than reading things very loudly.  
Many smartphone companies, including LG and Google, have already been doing this, and it is going to be a trend in human-computer interaction.

<img src="LG.png" alt="drawing" width="500"/>

## 2. Dataset Description
* There are 78095 data points and 38 features:   
  5 types of hand postures from 14 users were recorded using unlabeled markers on fingers of a glove in a motion capture environment. Due to resolution and occlusion, missing values are common.  


* Data collection:  
A rigid pattern of markers on the back of a glove was used to establish a local coordinate system for the hand, and 11 other markers were attached to the thumb and fingers of the glove. 3 markers were attached to the thumb with one above the thumbnail and the other two on the knuckles. 2 markers were attached to each finger with one above the fingernail and the other on the joint between the proximal and middle phalanx. 


* Features Information:  
     * 'Class' - Integer. The class ID of the given record. Ranges from 1 to 5 with 1=Fist(with thumb out), 2=Stop(hand flat), 3=Point1(point with pointer finger), 4=Point2(point with pointer and middle fingers), 5=Grab(fingers curled as if to grab).  
     * 'User' - Integer. The ID of the user that contributed the record. No meaning other than as an identifier.  
     * 'Xi' - Real. The x-coordinate of the i-th marker position. 'i' ranges from 0 to 11.  
     * 'Yi' - Real. The y-coordinate of the i-th marker position. 'i' ranges from 0 to 11.  
     * 'Zi' - Real. The z-coordinate of the i-th marker position. 'i' ranges from 0 to 11.   
        i = 1 Pinky Finger (Joint);  
        i = 2 Pinky Finger (Nail);  
        i = 3 Ring Finger (Joint);  
        i = 4 Ring Finger (Nail);  
        i = 5 Middle Finger (Joint);  
        i = 6 Middle Finger (Nail);  
        i = 7 Pointer Finger (Joint);  
        i = 8 Pointer Finger (Nail);  
        i = 9 Thumb (Metacarpophalangeal Joint);  
        i = 10 Thumb (Interphalangeal Joint);  
        i = 11 Thumb (Nail)

<div style="page-break-after: always;"></div>

* Public Paper
    * _[A. Gardner, J. Kanno, C. A. Duncan, and R. Selmic. 'Measuring distance between unordered sets of different sizes,' in 2014 IEEE Conference on Computer Vision and Pattern Recognition(CVPR), June 2014, pp. 137-143.](http://openaccess.thecvf.com/content_cvpr_2014/papers/Gardner_Measuring_Distance_Between_2014_CVPR_paper.pdf)_  
 In this paper, the authors introduced a new parameterizable metric, which measures the distance between unordered sets. This metric can be useful in premetrics, multisets, and multiple minimum-cost mappings from each set's perspective. Hand gesture recognition is used to demonstrate the function's usage in machine learning and pattern recognition. 
    * _[Gardner, A., Duncan, C.A., Kanno, J. and Selmic, R., 2014, October. 3d hand posture recognition from small unlabeled point sets. In 2014 IEEE International Conference on Systems, Man, and Cybernetics (SMC) (pp. 164-169). IEEE.](https://ieeexplore.ieee.org/document/6973901)_  
 This paper compared the performance of various classification models when recognizing static hand postures. The researchers found that aggregate feature classifiers have balanced performance among different users, but their accuracy is not the best. And pseudo-rasterization is the one performed best among all the classification models tested. The difficulty of user classification is also stated.

<div style="page-break-after: always;"></div>

## 3. Data Preprocess
* For the coordinate data, MinMaxScaler is used, because there are clear boundaries in coordinates. As the size of human's hands are limited.  
* When predicting "Class", "User" will be dropped, and "Class" will be the target variable.  
  Train, cv, and test will be split based on different Users.  
* When predicting "User", "Class" will be dropped, and "User" will be the target variable.  
  Train, cv, and test will be split based on different "Class" of gestures.

### Unprocessed data
|Class|User|X0       |Y0       |Z0        |X1       |...|
|:----|:---|:--------|:--------|:---------|:--------|:--|
|1    |0   |54.263880|71.466776|-64.807709|76.895635|...|
|1    |0   |56.527558|72.266609|-61.935252|39.135978|...|
|1    |0   |55.849928|72.469064|-62.562788|37.988804|...|
|1    |0   |55.329647|71.707274|-63.688956|36.561862|...|
|1    |0   |55.142400|71.435607|-64.177303|36.175817|...|

### Preprocessed data for predicting gestures
"User" column is dropped.  
MinMaxScaler is used to preprocess coordinate data  

|Class|X0       |Y0       |Z0       |X1       |Y1       |...|
|:----|:--------|:--------|:--------|:--------|:--------|:--|
|1    |0.5453203|0.6346098|0.2580551|0.6278134|0.5203832|...|
|1    |0.5529020|0.6376009|0.2700179|0.5021060|0.6708459|...|
|1    |0.5506325|0.6383580|0.2674044|0.4982869|0.6711944|...|
|1    |0.5488899|0.6355092|0.2627143|0.4935364|0.6683312|...|
|1    |0.5482628|0.6344933|0.2606805|0.4922512|0.6671603|...|

### Preprocessed data for predicting users
"Class" column is dropped.  
MinMaxScaler is used to preprocess coordinate data  

|User|X0       |Y0       |Z0       |X1       |Y1       |...|
|:---|:--------|:--------|:--------|:--------|:--------|:--|
|1   |0.5453203|0.6346098|0.2580551|0.6278134|0.5203832|...|
|1   |0.5529020|0.6376009|0.2700179|0.5021060|0.6708459|...|
|1   |0.5506325|0.6383580|0.2674044|0.4982869|0.6711944|...|
|1   |0.5488899|0.6355092|0.2627143|0.4935364|0.6683312|...|
|1   |0.5482628|0.6344933|0.2606805|0.4922512|0.6671603|...|

<div style="page-break-after: always;"></div>

## Code Part, to be deleted in PDF

In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, MinMaxScaler, StandardScaler, LabelEncoder

df = pd.read_csv('Original Postures Data.csv')
df = df.drop(0) # Dropping initial dummy record
df = df.replace('?', np.NaN) # Replacing missing value with NaN
df.head()

,Class,User,X0,Y0,Z0,X1,Y1,Z1,X2,Y2,...,Z8,X9,Y9,Z9,X10,Y10,Z10,X11,Y11,Z11
1,1,0,54.263880,71.466776,-64.807709,76.895635,42.462500,-72.780545,36.621229,81.680557,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,0,56.527558,72.266609,-61.935252,39.135978,82.538530,-49.596509,79.223743,43.254091,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,0,55.849928,72.469064,-62.562788,37.988804,82.631347,-50.606259,78.451526,43.567403,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,0,55.329647,71.707275,-63.688956,36.561863,81.868749,-52.752784,86.320630,68.214645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,0,55.142401,71.435607,-64.177303,36.175818,81.556874,-53.475747,76.986143,42.426849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div style="page-break-after: always;"></div>

In [8]:
# Use MinMaxScaler to preprocess coordinate data
scaler_minmax = MinMaxScaler()
coord_column = df.columns[2:]
df[coord_column] = scaler_minmax.fit_transform(df[coord_column])

In [9]:
# Dropping User for predicting Class
df_pred_class_processed = df.drop(columns = "User")
df_pred_class_processed.to_csv("Class Prediction Processed.csv")
df_pred_class_processed.head()

,Class,X0,Y0,Z0,X1,Y1,Z1,X2,Y2,Z2,...,Z8,X9,Y9,Z9,X10,Y10,Z10,X11,Y11,Z11
1,1,0.545320,0.634610,0.258055,0.627813,0.520383,0.344384,0.485403,0.678388,0.327415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,0.552902,0.637601,0.270018,0.502106,0.670846,0.430027,0.629502,0.535526,0.254553,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,0.550633,0.638358,0.267404,0.498287,0.671194,0.426297,0.626890,0.536690,0.251666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,0.548890,0.635509,0.262714,0.493536,0.668331,0.418368,0.653507,0.628324,0.244963,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,0.548263,0.634493,0.260681,0.492251,0.667160,0.415697,0.621934,0.532450,0.243484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Dropping Class for predicting User
df_pred_user_processed = df.drop(columns = "Class")
df_pred_user_processed.to_csv("User Prediction Processed.csv")
df_pred_user_processed.head()

,User,X0,Y0,Z0,X1,Y1,Z1,X2,Y2,Z2,...,Z8,X9,Y9,Z9,X10,Y10,Z10,X11,Y11,Z11
1,0,0.545320,0.634610,0.258055,0.627813,0.520383,0.344384,0.485403,0.678388,0.327415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0.552902,0.637601,0.270018,0.502106,0.670846,0.430027,0.629502,0.535526,0.254553,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0.550633,0.638358,0.267404,0.498287,0.671194,0.426297,0.626890,0.536690,0.251666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0.548890,0.635509,0.262714,0.493536,0.668331,0.418368,0.653507,0.628324,0.244963,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0,0.548263,0.634493,0.260681,0.492251,0.667160,0.415697,0.621934,0.532450,0.243484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN